html,
body {
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: linear-gradient(-45deg, #030774, #de6000, #873adf, #c0fa12);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gameTitle {
  display: flex;
  justify-content: space-around;
  padding: 5;
  margin: 5;
  background-color: darkblue;
  color: lavender;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.noClick {
  pointer-events: none;
}

.backcard {
  float: center;
  background-color: darkblue;
  padding: 5px;
  width: 170px;
  height: 170px;
  margin: 10px;
  margin-top: 10px;
}

.display {
  display: flex;
  justify-content: space-around;
  padding: 1;
  margin: 1;
  background-color: darkblue;
  color: lavender;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  font-style: italic;
  text-align: center;
}

.button {
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  border-radius: 8px;
}
